<div style="background-color: royalblue;text-align: center;color: white;border-radius:2%;font-family: emoji;">
    <h2>Add New Employee</h2>
    <div style="position: absolute;right: 9px;top: 7px;font-family: arial;color:black">
        <a class="close" (click)="closeDialog()">X</a>
    </div>
</div>

<div class="container col-lg-12"
    style="margin-top: 3%;padding-bottom: 2%;padding-top: 2%;">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]='empForm'>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label for="empName">Employee Name <span class="text-danger">*</span></label>
                        <div class="box">
                            <input class="form-control" type="text" name="empName" required class="form-control"
                                type="text" name="customerName" required formControlName="empName" id="empName">
                                <span class="text-danger" 
                                *ngIf="empForm.controls['empName'].invalid && empForm.controls['empName'].touched && empForm.controls['empName'].errors?.required">
                                Name can't be blank</span>
                            </div>
                    </div>
                        <div class="form-group  col-lg-6 col-sm-12">
                            <label for="empId">Employee Id<span class="text-danger">*</span></label>
                            <div class="box">
                                <input class="form-control" type="number" name="empId" required formControlName="empId"
                                    id="empId">
                                <span class="text-danger" 
                                *ngIf="empForm.controls['empId'].invalid && empForm.controls['empId'].touched && empForm.controls['empId'].errors?.required">
                                Emp Id can't be blank</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label for="department">Department<span class="text-danger">*</span></label>
                            <select formControlName="department" class="form-control">
                                <option >Select Department</option>
                                <option *ngFor="let option of options">{{option}}</option>
                            </select>
                            <span class="text-danger" 
                                *ngIf="empForm.controls['department'].invalid && empForm.controls['department'].touched && empForm.controls['department'].errors?.required">
                                Department can't be blank</span>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <label for="emailId">Email<span class="text-danger">*</span></label>
                            <div class="box">
                                <input class="form-control" type="text" name="emailId" required
                                    formControlName="emailId" id="emailId">
                                    <span class="text-danger" 
                                *ngIf="empForm.controls['emailId'].invalid && empForm.controls['emailId'].touched && empForm.controls['emailId'].errors?.required">
                                Email can't be blank</span> 
                                 <span class="text-danger" 
                                *ngIf="empForm.controls['emailId'].invalid && empForm.controls['emailId'].touched && empForm.controls['emailId'].errors?.email">
                                Enter Valid Email</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group  col-lg-6 col-sm-12 ">
                            <label for="doj">Date of Joining<span class="text-danger">*</span></label>
                            <div class="box">
                                <input class="form-control" type="date" name="doj" required formControlName="doj"
                                    id="doj">
                                    <span class="text-danger" 
                                *ngIf="empForm.controls['doj'].invalid && empForm.controls['doj'].touched && empForm.controls['doj'].errors?.required">
                                DOJ can't be blank</span>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="form-row text-center  " style="  border-radius: 40px;">
    <div class="form-group  col-lg-6 col-sm-12 ">
        <button type="button" (click)="addEmployee()" style="background-color: green;margin-top: 3%;margin-left: 6%;"
            class="btn btn-info btn-outline-light btn-lg" >Add Employee</button>
    </div>
    <div class="form-group  col-lg-6 col-sm-12 ">
        <button type="button" (click)="resetForm()" style="background-color: red; margin-top: 3%;"
            class="btn btn-info btn-outline-light btn-lg">Clear</button>
    </div>
</div>