<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <a class="navbar-brand " style="color: rgb(22, 219, 219);"> <mat-icon style="font-size: 18px;color: skyblue;">account_balance</mat-icon>Employees Detail</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-success" (click)="showDialog()" color="primary">New Employee</a>
      </li>
    </ul> 
</div>
</nav>